data/xsd/pet-skills.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
		   targetNamespace="http://l2j.org"
		   xmlns="http://l2j.org"
		   elementFormDefault="qualified">

	<xs:element name="list">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="skill" type="PetSkill" maxOccurs="unbounded" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:complexType name="PetSkill">
		<xs:attribute name="npc" type="xs:int" use="required"/>
		<xs:attribute name="id" type="xs:int" use="required"/>
		<xs:attribute name="level" type="xs:int" default="0"/>
	</xs:complexType>
</xs:schema>