data/events/event-configuration.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://l2j.org"
           xmlns="http://l2j.org"
           elementFormDefault="qualified">

    <xs:include schemaLocation="daily-config.xsd"/>

    <xs:element name="configuration" type="Configuration" abstract="true"/>
    <xs:element name="olympiad-config" type="OlympiadConfiguration" substitutionGroup="configuration"/>

    <xs:complexType name="Configuration" abstract="true"/>

    <xs:complexType name="OlympiadConfiguration">
        <xs:complexContent>
            <xs:extension base="Configuration">
                <xs:attribute name="start-date" type="xs:date"/>
                <xs:attribute name="force-start-date" type="xs:boolean" default="false"/>
                <xs:attribute name="min-participant" type="xs:int" use="required"/>
                <xs:attribute name="available-arena-instances" type="intList" use="required"/>
                <xs:attribute name="match-duration" type="xs:int" default="6"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

</xs:schema>